.ESFigure {
  /* Layout */
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: var(--esnet-size-spacing-xxsmall);

  --color: var(--esnet-color-light-copy-alt, #6e6e70);
  :global(.dark) * {
    --color: var(--esnet-color-dark-copy-alt);
  }

  /* default color style for any children of the figure, such as img alt text */
  color: var(--color);

  > *:first-child {
    max-width: 100%;
  }

  .caption {
    color: var(--color);
    :global(.dark) * {
      color: var(--color);
    }

    font: var(
      --esnet-typography-label-1-sans-font,
      400 12px/120% var(--esnet-font-family-body-sans)
    );

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    &.italic {
      font-style: italic;
    }

    &.capitalize {
      text-transform: uppercase;
    }
  }
}
