.ESLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--esnet-size-spacing-xxsmall, 0.25rem);
}

.label {
  --width: 100%;

  &:has(input[type="checkbox"]),
  &:has(input[type="radio"]) {
    --width: fit-content;
  }
  width: var(--width);
  cursor: auto;
  display: flex;
  gap: var(--esnet-size-spacing-xxsmall, 0.25rem);
}

.labelPlacementTop {
  flex-direction: column;
}

.labelPlacementLeft {
  flex-direction: row;
  align-items: center;
  gap: var(--esnet-size-spacing-xsmall, 0.5rem);
}

.labelPlacementRight {
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--esnet-size-spacing-xsmall, 0.5rem);
}

.labelPlacementBottom {
  flex-direction: column-reverse;
}

/* refers to the "label" text part of the top of the component */
.text {
  /* color: var(--esnet-color-core-black-800, #252526); */

  :global(.dark) & {
    color: var(--esnet-color-core-slate-200, #acb0bf);
  }

  &:has(~ *:hover),
  &:has(~ *:focus) {
    color: var(--esnet-color-core-blue-700, #0075a2);

    :global(.dark) & {
      color: var(--esnet-color-core-blue-300, #64d2ff);
    }
  }

  &.disabled {
    color: var(--esnet-color-core-slate-200, #acb0bf);

    :global(.dark) & {
      color: var(--esnet-color-core-black-100, #6e6e70);
    }
  }

  transition: color var(--esnet-time-duration-quick, 250ms) ease;

  font: var(
    --esnet-typography-label-1-large-font,
    400 16px/120% var(--esnet-font-family-body-sans)
  );
}

.requiredAsterisk {
  margin-left: 2px;
  color: var(--esnet-color-core-red-600, #d61200);

  .disabled > & {
    color: var(--esnet-color-core-red-800, #8a0416);
  }
}

.error {
  color: var(--esnet-color-core-red-600, #a6611b);

  :global(.dark) {
    color: var(--esnet-color-core-red-400, #ff404e);
  }

  font: var(
    --esnet-typography-label-1-large-font,
    400 16px/120% var(--esnet-font-family-body-sans)
  );
}
