.ESIconButton {
  height: 100%;
  width: fit-content;
  min-height: unset;
  line-height: 0px;

  &.square {
    padding: var(--esnet-size-border-width-medium, 4px) !important;
  }

  & > span {
    margin: 0 !important;
    height: fit-content;
  }
}