.ESBreadCrumbs {
  inline-size: 100%;
  padding-left: 0;

  --divider-color: var(--esnet-color-core-black-500, #4d4d4f);
  --link-color: var(--esnet-color-light-copy, #3d3d3d);

  :global(.dark) & {
    --divider-color: var(--esnet-color-core-white-800, #b3b3b3);
    --link-color: var(--esnet-color-dark-copy, #e6e6e6);
  }

  display: flex;
  gap: var(--esnet-size-spacing-xsmall);
  flex-wrap: wrap;
  margin-bottom: var(--esnet-size-spacing-medium);

  .breadCrumb {
    display: flex;
    align-items: center;
    gap: var(--esnet-size-spacing-xsmall);
    width: fit-content;

    &::after {
      content: "/";
      display: inline-block;
      color: var(--divider-color);

      font: var(--esnet-typography-label-2-sans-font,
          700 12px/120% var(--esnet-font-family-body-sans));
    }

    &:last-child {
      a {
        text-decoration: none !important;
      }

      &::after {
        content: none;
      }
    }
  }
}