/* TODO: Move to ui-css */
.PktsCodeBlock {
  /* Layout */
  display: flex;
  position: relative;
  padding: var(--esnet-size-spacing-xsmall, 8px);
  flex-direction: column;
  gap: var(--esnet-size-spacing-xsmall, 8px);

  /* Styling */
  border-radius: var(--esnet-size-radius-large);
  background: var(--color-core-white-500, #d9d9d9);
  color: var(--esnet-color-light-copy, #3d3d3d);

  :global(.dark) & {
    background: var(--esnet-color-core-black-800, #252526);
    color: var(--esnet-color-dark-copy, #fff);
  }

  /* Typography */
  font: var(
    --esnet-typography-copy-1-mono-font,
    400 16px/120% var(--esnet-font-family-body-mono)
  );
  white-space: pre;
  overflow: auto;

  .top {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .chip {
    height: 16px;
    padding: 0 var(--esnet-size-spacing-xxsmall, 4px);

    border-radius: var(--esnet-size-radius-large, 0.375rem);
    background-color: var(--esnet-color-light-surface-1, #e3e3e3);
    color: var(--esnet-color-light-copy-alt, #6e6e70);

    :global(.dark) & {
      background-color: var(--esnet-color-dark-surface-1, #19191a);
      color: var(--esnet-color-dark-copy-alt, #c2c2c2);
    }

    font: var(
      --esnet-typography-label-1-mono-font,
      400 12px/120% var(--esnet-font-family-body-mono)
    );
  }

  /* copy button */
  button {
    padding: 0;
    outline: none;
    background: none;
    border: none;

    font: inherit;
    color: inherit;
    width: 16px;
    height: 16px;

    color: var(--esnet-color-light-copy-alt, #6e6e70);

    :global(.dark) & {
      color: var(--esnet-color-dark-copy-alt, #c2c2c2);
    }

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      cursor: pointer;
    }

    /* Design document doesn't specify a way to indicate keyboard focus, use a simple indicator */
    &:focus {
      border-bottom: 1px solid var(--esnet-color-light-copy-alt, #6e6e70);
      :global(.dark) & {
        border-bottom: 1px solid var(--esnet-color-dark-copy-alt, #c2c2c2);
      }
    }
  }

  code {
    /* override previous default set in packets for code */
    border: none !important;
  }
}
