.ESInputEmail input {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}

.ESInputEmail.empty div {
  cursor: default;
  color: var(--esnet-color-light-copy-alt, #6e6e70);

  :global(.dark) & {
    color: var(--esnet-color-dark-copy-alt, #c2c2c2);
  }
}