.dataTableRoot {
  --background-color: var(--esnet-color-core-white-100, #fff);
  --background-dark-color: var(--esnet-color-core-slate-1000, #30333b);
  --header-background-color: var(--esnet-color-core-blue-900);
  --header-copy-color: var(--esnet-color-core-white-100);

  --table-row-even-background-color: rgba(0, 0, 0, 0.05);
  --table-row-hover-background-color: rgba(0, 0, 0, 0.1);

  --label-typography: var(--esnet-typography-header-6-sans-font);

  --cornder-radius: var(--esnet-size-radius-large, 6px);
  --cell-padding: var(--esnet-size-spacing-xsmall, 8px) var(--esnet-size-spacing-medium, 16px);

  table-layout: auto;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: var(--cornder-radius);
  background-color: var(--background-color);

  @media (min-width: 640px) {
    table-layout: auto;
    display: table;
  }

  :global(.dark) & {
    --table-row-even-background-color: var(rgba(0, 0, 0, 0.5));
    --table-row-hover-background-color: var(rgba(0, 0, 0, 0.6));
    --background-color: var(--background-dark-color);
  }

  .tableHead {
    background-color: var(--header-background-color);
    color: var(--header-copy-color);
    display: block;

    @media (min-width: 640px) {
      display: table-header-group;
    }

    .tableHeadCell {
      padding: var(--cell-padding);
      display: none;
      vertical-align: top;

      &:first-of-type {
        border-top-left-radius: var(--cornder-radius);
        display: block;
        width: 100%;

        @media (min-width: 640px) {
          display: table-cell;
          width: auto;
        }
      }

      &:last-of-type {
        border-top-right-radius: var(--cornder-radius);
      }

      .labelWrapper {
        display: flex;
        align-items: center;
        gap: var(--esnet-size-spacing-xxsmall);
        width: 100%;
        font: var(--label-typography);
        color: var(--esnet-color-dark-copy, #e6e6e6)
      }

      @media (min-width: 640px) {
        display: table-cell;
        max-height: 10px;
        max-width: 100px;
      }
    }
  }

  .tableBody {
    display: block;

    @media (min-width: 640px) {
      display: table-row-group;
    }

    .tableRow {
      display: block;
      padding: var(--esnet-size-spacing-medium) 0;
      transition: background ease-in var(--esnet-time-duration0short, 100ms);

      &:hover,
      &:nth-child(even):hover {
        background-color: var(--table-row-hover-background-color);
      }

      &:nth-child(even) {
        background-color: var(--table-row-even-background-color);
      }

      @media (min-width: 640px) {
        display: table-row;
      }

      .tableCell {
        padding: var(--cell-padding);
        vertical-align: middle;
        display: block;

        &::before {
          display: block;
          content: attr(data-parent);
          font: var(--label-typography);
          color: var(--esnet-color-copy-alt);
        }

        @media (min-width: 640px) {
          display: table-cell;
          width: auto;

          &::before {
            display: none;
            content: "";
          }
        }
      }
    }
  }

  .tableFooter {
    background-color: var(--header-background-color);
    padding: var(--cell-padding);
    color: var(--header-copy-color);
    display: block;
    position: sticky;
    bottom: 0;

    @media (min-width: 640px) {
      display: table-footer-group;
    }

    .tableRow {
      display: block;

      @media (min-width: 640px) {
        display: table-row;
      }
    }

    .tableCell {
      padding: var(--cell-padding);
      vertical-align: top;
      display: block;

      @media (min-width: 640px) {
        display: table-cell;
      }

      &:first-of-type {
        border-bottom-left-radius: var(--esnet-size-radius-large);
      }

      &:last-of-type {
        border-bottom-right-radius: var(--esnet-size-radius-large);
      }
    }
  }
}