.ESSpinner {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--esnet-size-spacing-medium);
  margin: auto;

  @media (prefers-reduced-motion) {
    .dot {
      display: none;
    }

    .noMotionMessage {
      display: inline !important;
    }
  }

  .noMotionMessage {
    display: none;
    text-align: center;
    font: var(
      --esnet-typography-label-1-sans-font,
      400 12px/120% var(--esnet-font-family-body-sans)
    );

    color: var(--esnet-color-light-copy-alt, #a8a8a8);

    :global(.dark) & {
      color: var(--esnet-color-dark-copy-alt, #a8a8a8);
    }
  }

  .dot {
    position: absolute;
    top: 0;
    width: var(--esnet-size-spacing-medium);
    height: var(--esnet-size-spacing-medium);
    border-radius: 50%;
    background: var(--esnet-color-light-copy, #3d3d3d);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    :global(.dark) & {
      background: var(--esnet-color-dark-copy, #e6e6e6);
    }

    &:nth-child(1) {
      left: var(--esnet-size-spacing-xsmall);
      animation: dot1Animation var(--esnet-time-duration-long, 600ms) infinite;
    }

    &:nth-child(2) {
      left: var(--esnet-size-spacing-xsmall);
      animation: dot2Animation var(--esnet-time-duration-long, 600ms) infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: dot2Animation var(--esnet-time-duration-long, 600ms) infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: dot3Animation var(--esnet-time-duration-long, 600ms) infinite;
    }
  }
}

@keyframes dot1Animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dot2Animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes dot3Animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
