.ESTabs {
  --tabGaps: var(--esnet-size-spacing-xxsmall, 4px);

  display: block;
  padding: var(--esnet-size-spacing-xxsmall, 4px);
  width: fit-content;
  margin-bottom: var(--esnet-size-spacing-large, 32px);

  background: var(--esnet-color-light-surface-1, #e3e3e3);
  border-radius: var(--esnet-size-spacing-xsmall, 8px);

  :global(.dark) & {
    background: var(--esnet-color-dark-surface-1, #3d3d3d);
  }

  >.tabList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: var(--tabGaps, 4px);
  }

  &.hasBorder {
    border-radius: var(--esnet-size-spacing-xsmall, 8px);
    border: var(--esnet-size-border-width-small, 2px) solid var(--esnet-color-core-white-200, #f2f2f2);

    :global(.dark) & {
      border-color: var(--esnet-color-core-black-400, #565657);
    }
  }

  &.noPadding {
    margin-bottom: 0;
  }
}