.ESInputRadioButton {
  width: var(--esnet-size-spacing-medium, 1rem);
  height: var(--esnet-size-spacing-medium, 1rem);
}

.ESInputRadioButtonInput {
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  width: stretch;
  height: stretch;
  border-radius: var(--esnet-size-radius-circle, 999px);
  border-style: solid;
  border-width: var(--esnet-size-spacing-xxsmall, 0.25rem);
  border-color: var(--esnet-color-light-copy, #3d3d3d);
  background-color: var(--esnet-color-light-copy, #3d3d3d);

  :global(.dark) & {
    border-color: var(--esnet-color-dark-copy, #ffffff);
    background-color: var(--esnet-color-dark-copy, #ffffff);
  }

  transition: border-color var(--esnet-time-duration-quick, 250ms) ease,
  background var(--esnet-time-duration-quick, 250ms) ease,
  box-shadow var(--esnet-time-duration-quick, 250ms) ease;
  cursor: pointer;

  /* Pseudo-events */
  &:checked:not(:disabled), &:focus:not(:disabled), &:hover:not(:disabled) {
    border-color: var(--esnet-color-light-primary, #0088b5);

    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }

  &:focus:not(:disabled), &:hover:not(:disabled) {
    box-shadow: var(--esnet-box-shadow-core-medium, 0px 2px 3px -1px rgba(0, 0, 0, .1), 0px 4px 5px -1px rgba(0, 0, 0, .1));
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    background-color: var(--esnet-color-light-copy-alt, #4d515e);
    border-color: var(--esnet-color-light-copy-alt, #4d515e);

    :global(.dark) & {
      border-color: var(--esnet-color-dark-copy-alt, #c2c2c2);
      background-color: var(--esnet-color-dark-copy-alt, #c2c2c2);
    }
  }
}