.ESButtonGroup {
  --spacing: var(--esnet-size-spacing-xsmall, 8px);
  --label-color: var(--esnet-color-light-copy, #3d3d3d);
  --label-color-dark: var(--esnet-color-dark-copy, #e6e6e6);

  width: 100%;

  :global(.dark) & {
    --label-color: var(--label-color-dark);
  }

  label {
    color: var(--label-color);
  }

  /* Variants */
  .list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing);
    flex-direction: row;
  }

  &.vertical .list {
    flex-direction: column;
  }

  &.horizontal .list {
    flex-direction: row;
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
}