.ESAlert {
  width: 100%;
  box-sizing: border-box;

  --color: var(--esnet-color-light-copy, #3d3d3d);
  --bg-color: var(--esnet-color-light-surface-2, #f2f2f2);
  --icon-size: var(--esnet-size-touchtarget-min, 32px);
  --section-gap: var(--esnet-size-spacing-medium, 16px);
  --title-label-font: var(
    --esnet-typography-header-5-sans-font,
    600 20px/140% var(--esnet-font-family-header-sans)
  );

  animation: fadeInSlideUp var(--esnet-time-duration-quick, 250ms) ease-in-out;

  @media (prefers-reduced-motion) {
    animation: none;
  }

  :global(.dark) & {
    --color: var(--esnet-color-dark-copy, #e6e6e6);
    --bg-color: var(--esnet-color-dark-surface-2, #f2f2f2);
  }

  &.error {
    --bg-color: var(--esnet-color-light-error, #d61200);
    --color: var(--esnet-color-dark-copy, #e6e6e6);

    :global(.dark) & {
      --bg-color: var(--esnet-color-dark-error, #d61200);
    }
  }

  &.warning {
    --bg-color: var(--esnet-color-light-warning, #cc9e16);
    --color: var(--esnet-color-light-copy, #000);

    :global(.dark) & {
      --bg-color: var(--esnet-color-dark-warning, #cc9e16);
    }
  }

  &.success {
    --bg-color: var(--esnet-color-light-success, #0e8a0e);
    --color: var(--esnet-color-dark-copy, #e6e6e6);

    :global(.dark) & {
      --bg-color: var(--esnet-color-dark-success, #0e8a0e);
    }
  }

  &.branded {
    --bg-color: var(--esnet-color-light-primary, #0088b5);
    --color: var(--esnet-color-dark-copy, #e6e6e6);

    :global(.dark) & {
      --bg-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }

  .icon {
    & svg {
      stroke: var(--color);
    }
  }

  .content {
    flex: 1;
    font: var(
      --esnet-typography-body-1-sans-font,
      400 16px/140% var(--esnet-font-family-body-sans)
    );
  }

  .content * {
    color: var(--color) !important;
  }

  .title {
    margin: 0;
    margin-bottom: var(--esnet-size-spacing-xxsmall, 4px);
    font: var(--title-label-font);
    text-decoration: none;
    width: 100%;
  }

  border-radius: var(--esnet-size-radius-xlarge, 8px);
  padding: var(--esnet-size-spacing-medium, 16px);
  display: flex;
  gap: var(--section-gap);
  color: var(--color);
  background-color: var(--bg-color);
}

.closeButton {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

@keyframes fadeInSlideUp {
  from {
    translate: 0 var(--esnet-size-spacing-medium, 16px);
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    translate: 0 0;
    opacity: 1;
    transform: scale(1);
  }
}
