.ESInputSwitch {
  --interaction-color: var(--esnet-color-core-blue-600);
  --interaction-border: var(--esnet-color-core-blue-700);
  --interaction-shadow: var(--esnet-color-core-blue-300);

  &.secondary {
    --interaction-color: var(--esnet-color-core-orange-600);
    --interaction-border: var(--esnet-color-core-orange-700);
    --interaction-shadow: var(--esnet-color-core-orange-300);
  }

  /* Base Styles */
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  box-sizing: content-box;
  border-radius: var(--esnet-size-radius-circle, 999px);
  border: var(--esnet-size-border-width-small, 0.125rem) solid
    var(--esnet-color-core-white-700, #c2c2c2);
  background-color: var(--esnet-color-core-white-700, #c2c2c2);
  transition: all var(--esnet-time-duration-quick, 250ms) ease;
  cursor: pointer;
  overflow: hidden;

  &:has(.input:checked) {
    background-color: var(--interaction-color);
    border-color: var(--interaction-border);
  }

  &:has(.input:disabled) {
    cursor: default;
    box-shadow: none;

    background-color: var(--esnet-color-core-white-500, #d9d9d9);
    border-color: var(--esnet-color-core-white-500, #d9d9d9);

    &:has(.input:checked) {
      border-color: color-mix(
        in srgb,
        var(--interaction-color),
        var(--esnet-color-core-white-500, #d9d9d9) 70%
      );
      background-color: color-mix(
        in srgb,
        var(--interaction-color),
        var(--esnet-color-core-white-500, #d9d9d9) 70%
      );
    }
  }

  &:hover:not(:has(.input:disabled)),
  &:focus-within:not(:has(.input:disabled)) {
    box-shadow: 0 0 0 var(--esnet-size-border-width-small, 0.125rem)
      var(--esnet-color-core-white-400);

    &:has(.input:checked) {
      box-shadow: 0 0 0 var(--esnet-size-border-width-small, 0.125rem)
        var(--interaction-shadow);
    }
  }
}

.input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: inherit;
  z-index: 2;
}

.switchIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--esnet-color-core-white-100, #ffffff);
  color: var(--esnet-color-core-white-600, #cccccc);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;

  transition:
    transform var(--esnet-time-duration-quick, 250ms) ease,
    color var(--esnet-time-duration-quick, 250ms) ease,
    background-color var(--esnet-time-duration-quick, 250ms) ease;

  .input:checked ~ & {
    transform: translateX(100%);
    color: var(--interaction-color);
  }

  .input:disabled ~ & {
    pointer-events: none;
    background-color: var(--esnet-color-core-white-400, #f0f0f0);
  }
}
