.ESInputSwitch {
  --interaction-color: var(--esnet-color-core-blue-600);
  --interaction-border: var(--esnet-color-core-blue-700);
  --interaction-shadow: var(--esnet-color-core-blue-300);
  &.secondary {
    --interaction-color: var(--esnet-color-core-orange-600);
    --interaction-border: var(--esnet-color-core-orange-700);
    --interaction-shadow: var(--esnet-color-core-orange-300);
  }
  position: relative;
  overflow: hidden;
  width: 52px;
  height: 26px;

  transition:
    border-color var(--esnet-time-duration-quick, 250ms) ease,
    box-shadow var(--esnet-time-duration-quick, 250ms) ease,
    background-color var(--esnet-time-duration-quick, 250ms) ease;

  border-style: solid;
  border-width: var(--esnet-size-border-width-small, 0.125rem);
  border-radius: var(--esnet-size-radius-circle, 999px);

  background-color: var(--esnet-color-core-white-700, #c2c2c2);
  border-color: var(--esnet-color-core-white-700, #c2c2c2);
  &.checked {
    background-color: var(--interaction-color);
    border-color: var(--interaction-border);
  }

  &:hover:not(.disabled),
  &:focus-within:not(.disabled) {
    box-shadow: 0 0 0 var(--esnet-size-border-width-small, 0.125rem)
      var(--esnet-color-core-white-400);
    &.checked {
      box-shadow: 0 0 0 var(--esnet-size-border-width-small, 0.125rem)
        var(--interaction-shadow);
    }
  }

  &.checked:has(*:active):not(.disabled),
  &:has(*:active):not(.disabled) {
    box-shadow: none;
  }

  &.disabled {
    cursor: default;
    border-color: var(--esnet-color-core-white-500, #d9d9d9);
    box-shadow: none;
    background-color: var(--esnet-color-core-white-500, #d9d9d9);
    &.checked {
      border-color: color-mix(
        in srgb,
        var(--interaction-color),
        var(--esnet-color-core-white-500, #d9d9d9) 70%
      );
      background-color: color-mix(
        in srgb,
        var(--interaction-color),
        var(--esnet-color-core-white-500, #d9d9d9) 70%
      );
    }
  }
}

/* Actual input element, invisible but spans entire component for functionality */
.ESInputSwitchInput {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ESInputSwitchIndicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 0;
  :checked ~ & {
    right: 0;
    left: auto;
  }
  height: 100%;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  user-select: none;
  border-radius: var(--esnet-size-radius-circle, 999px);

  background-color: var(--esnet-color-core-white-100, #ffffff);
  color: var(--esnet-color-core-white-600, #cccccc);

  .checked > & {
    color: var(--esnet-color-core-blue-600);
  }

  :active:checked ~ :not(.disabled > &) {
    background-color: var(--esnet-color-core-blue-100, #cff1ff);
  }

  .disabled > & {
    background-color: var(--esnet-color-core-white-400, #d9d9d9);
  }
}
