.ESInputPassword input {
  &::-ms-reveal,
  &::-webkit-reveal,
  &::-webkit-password-toggle-button {
    display: none;
    -webkit-appearance: none;
  }
  &::-ms-clear {
    display: none;
  }
}

.ESInputPassword.empty div {
  visibility: hidden;
}
