.pkts-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 12px;
  height: 20px;
  padding: 2px 6px;
  border-radius: var(--pkts-size-radius-circle, 100px);
  font: var(
    --pkts-typography-label-2-sans-font,
    700 12px/120% var(--pkts-font-family-body-sans)
  );
  background-color: var(--pkts-color-light-primary, #0088b5);
  color: var(--pkts-color-core-white-100, #ffffff);
}

.dark .pkts-badge {
  background-color: var(--pkts-color-dark-primary, #004573);
}
