.pkts-comma-seperated-list {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pkts-comma-seperated-list.vertical {
  flex-direction: column;
}

.pkts-comma-seperated-list .comma-separated-list-item, .pkts-comma-seperated-list li {
  display: inline;
}

.pkts-comma-seperated-list .comma-separated-list-item:not(:last-child)::after, .pkts-comma-seperated-list li:not(:last-child)::after {
  content: ", ";
}
