.es-input-password input::-ms-reveal,
  .es-input-password input::-webkit-reveal,
  .es-input-password input::-webkit-password-toggle-button {
    display: none;
    -webkit-appearance: none;
  }
  .es-input-password input::-ms-clear {
    display: none;
  }
