.pkts-input-password input::-ms-reveal,
  .pkts-input-password input::-webkit-reveal,
  .pkts-input-password input::-webkit-password-toggle-button {
    display: none;
    -webkit-appearance: none;
  }
  .pkts-input-password input::-ms-clear {
    display: none;
  }
