/* Pseudo-classes */
  /* Remove the number spinner that is provided by default */
  .pkts-input-number input::-webkit-outer-spin-button,
  .pkts-input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .pkts-input-number input {

  -moz-appearance: textfield;
  appearance: none;
}
