/* ==============================================================================
   PKTS-TAB - Composable Base Class
   ==============================================================================

   Base styles for tab component. State classes are composable:
   - State: .pkts-active

   Usage: <li class="pkts-tab pkts-active">
*/

.pkts-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--pkts-size-spacing-xxsmall, 4px);

  min-width: var(--pkts-size-spacing-xxlarge, 64px);
  width: fit-content;
  min-height: var(--pkts-size-spacing-large, 32px);

  border-radius: var(--pkts-size-spacing-xsmall);
  transition: background ease-in var(--pkts-time-duration-short, 100ms);
}

li.pkts-tab {
  padding: 0;
}

.pkts-tab.pkts-active {
  background-color: var(--pkts-color-light-surface-2, #f2f2f2);
}

.dark .pkts-tab.pkts-active {
  background-color: var(--pkts-color-dark-primary, #004573);
}

.pkts-tab:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

.pkts-tab:hover a {
  text-decoration: underline;
}

.pkts-tab a {
  padding: var(--pkts-size-spacing-xsmall, 8px)
    var(--pkts-size-spacing-medium, 16px);

  color: var(--pkts-color-light-copy, #1a1a1a);
  text-decoration: none;
  white-space: nowrap;
}

.dark .pkts-tab a {
  color: var(--pkts-color-dark-copy, #e6e6e6);
}
