/* ==============================================================================
   ES-TAB - Composable Base Class
   ==============================================================================

   Base styles for tab component. State classes are composable:
   - State: .es-active

   Usage: <li class="es-tab es-active">
*/

.es-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--esnet-size-spacing-xxsmall, 4px);

  min-width: var(--esnet-size-spacing-xxlarge, 64px);
  width: fit-content;
  min-height: var(--esnet-size-spacing-large, 32px);

  border-radius: var(--esnet-size-spacing-xsmall);
  transition: background ease-in var(--esnet-time-duration-short, 100ms);
}

li.es-tab {
  padding: 0;
}

.es-tab.es-active {
  background-color: var(--esnet-color-light-surface-2, #f2f2f2);
}

.dark .es-tab.es-active {
  background-color: var(--esnet-color-dark-primary, #004573);
}

.es-tab:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

.es-tab:hover a {
  text-decoration: underline;
}

.es-tab a {
  padding: var(--esnet-size-spacing-xsmall, 8px)
    var(--esnet-size-spacing-medium, 16px);

  color: var(--esnet-color-light-copy, #1a1a1a);
  text-decoration: none;
  white-space: nowrap;
}

.dark .es-tab a {
  color: var(--esnet-color-dark-copy, #e6e6e6);
}
