.titleLayout {
  margin-bottom: var(--pkts-size-spacing-large);
}

  .titleLayout .title {
    display: flex;
    align-items: center;
    gap: var(--pkts-size-spacing-xsmall, 9px);

    font: var(--pkts-typography-header-1-display-font);
  }

  .titleLayout .subtitle {
    display: flex;
    align-items: center;
    gap: var(--pkts-size-spacing-xsmall, 9px);

    font: var(--pkts-typography-header-4-sans-font);
    padding: 0;
  }

