.datum {
  min-width: 225px;

  .label {
    display: block;
    font: var(--esnet-typography-label);
    color: black;
    font-weight: 700;
  }

  .value {
    font: var(--esnet-typography-copy);
    color: black;
  }
}
