.packets {
  background-color: var(--esnet-color-light-background, #cccccc);

  &.dark, .dark {
    background-color: var(--esnet-color-dark-background, #19191a);
  }

  /* Nested Surface Layers using just surface class */
  .surface {
    background-color: var(--esnet-color-light-surface-1, #e3e3e3);

    .surface {
      background-color: var(--esnet-color-light-surface-2, #f2f2f2);
    }
  }

  &.dark, dark {
    .surface {
      background-color: var(--esnet-color-dark-surface-1, #3d3d3d);

      .surface {
        background-color: var(--esnet-color-dark-surface-2, #4d4d4f);
      }
    }
  }

  /* Bespoke instances of surface layers */
  .surface1 {
    background-color: var(--esnet-color-light-surface-1, #e3e3e3);
  }

  &.dark, .dark {
    .surface1 {
      background-color: var(--esnet-color-dark-surface-1, #3d3d3d);
    }
  }

  .surface2 {
    background-color: var(--esnet-color-light-surface-2, #f2f2f2);
  }

  &.dark, .dark {
    .surface2 {
      background-color: var(--esnet-color-dark-surface-2, #4d4d4f);
    }
  }
}