.ESDatum {
  width: 100%;
  --label-font: var(
    --esnet-typography-label-1-sans-font,
    400 12px/120% var(--esnet-font-family-body-sans)
  );
  --label-letterspace: var(
    --esnet-typography-label-2-sans-letterspacing,
    -0.18px
  );

  .label {
    display: block;
    color: var(--esnet-color-light-copy-alt, #a8a8a8);

    font: var(--label-font);
    letter-spacing: var(--label-letterspace);

    :global(.dark) & {
      color: var(--esnet-color-dark-copy-alt, #a8a8a8);
    }
  }

  .value {
    font: var(
      --esnet-typography-copy-1-sans-font,
      400 16px/120% var(--esnet-font-family-body-sans)
    );

    color: var(--esnet-color-light-copy, #3d3d3d);

    :global(.dark) & {
      color: var(--esnet-color-dark-copy, #e6e6e6);
    }
  }
}
