.ESIcon {
    display: flex; 
    justify-content: center;
    align-items: center;
    
    color: var(--esnet-color-light-surface-2) currentColor;

    :global(.dark) & {
        color: var(--esnet-color-dark-surface-2) currentColor;
    }
}