.titleLayout {
  width: 100%;
  margin-bottom: var(--esnet-size-spacing-large);

  .title {
    display: flex;
    align-items: center;
    gap: var(--esnet-size-spacing-xsmall, 9px);

    font: var(--esnet-typography-header-1-display-font);
  }

  .subtitle {
    display: flex;
    align-items: center;
    gap: var(--esnet-size-spacing-xsmall, 9px);

    font: var(--esnet-typography-header-4-sans-font);
    padding: 0;
  }
}
