.ESInputDatePickerDate {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: var(--esnet-size-spacing-xsmall, 0.5rem);
}

.nav {
  display: flex;
  gap: var(--esnet-size-spacing-xsmall, 0.5rem);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: var(--esnet-size-spacing-large, 2rem, 32px);
  width: 100%;
}

.navButton {
  background: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  outline: none;
}

.navInfo {
  display: flex;
  gap: var(--esnet-size-spacing-medium, 1rem);
  justify-content: center;
  align-items: center;

  & > button {
    outline: none;
    background: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > button > svg {
    cursor: pointer;
    width: var(--esnet-size-spacing-medium, 1rem);
    height: var(--esnet-size-spacing-medium, 1rem);
  }
}

.dayGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.dayGridHeader {
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayGridButton {
  background: inherit;
  font: inherit;
  color: inherit;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.today {
    border-radius: var(--esnet-size-radius-circle, 999px);
    border-color: var(--esnet-color-light-primary, #0088b5);

    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }
}

.monthGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--esnet-size-spacing-medium, 1rem);
  place-items: center;
}

.monthGridButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.yearGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--esnet-size-spacing-xxsmall, 0.25rem);
  place-items: center;
}

.yearGridButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Date Range Styles */
.dateRangeStart {
  border-top-right-radius: var(--esnet-size-radius-none, 0px) !important;
  border-bottom-right-radius: var(--esnet-size-radius-none, 0px) !important;
}

.dateRangeEnd {
  border-top-left-radius: var(--esnet-size-radius-none, 0px) !important;
  border-bottom-left-radius: var(--esnet-size-radius-none, 0px) !important;
}

.dateRangeEdge {
  --color: var(--esnet-color-light-surface-2, #f2f2f2);
  --bg-color: var(--esnet-color-light-primary, #0088b5);
  :global(.dark) & {
    --color: var(--esnet-color-dark-copy, #ffffff);
    --bg-color: var(--esnet-color-core-blue-500, #00a0d6);
  }

  background-color: var(--bg-color) !important;
  color: var(--color) !important;
}

.dateRangeMiddle {
  --color: var(--esnet-color-light-copy, #3d3d3d);
  --bg-color: var(--esnet-color-core-blue-300, #64d2ff);
  :global(.dark) & {
    --color: var(--esnet-color-dark-copy, #ffffff);
    --bg-color: var(--esnet-color-core-blue-400, #64d2ff);
  }

  background-color: var(--bg-color) !important;
  color: var(--color) !important;
  border-radius: var(--esnet-size-radius-none, 0px) !important;
  border: none !important;
}
