.spacingDocBlock {
  --border-border: 3px;
  display: block;
  padding: var(--esnet-size-spacing-xsmall);

  .previewblock {
    display: block;
    width: var(--spacing-preview);
    height: 32px;
    background-color: var(--esnet-color-core-white-500);
    border-left: var(--esnet-size-border-xsmall) solid
      var(--esnet-color-light-primary);
    border-right: var(--esnet-size-border-xsmall) solid
      var(--esnet-color-light-primary);
  }

  .previewVerticalblock {
    display: block;
    width: 32px;
    height: var(--spacing-preview);
    background-color: var(--esnet-color-core-white-500);
    border-top: var(--esnet-size-border-xsmall) solid
      var(--esnet-color-light-primary);
    border-bottom: var(--esnet-size-border-xsmall) solid
      var(--esnet-color-light-primary);
  }
}