.ESInputDatePickerTime {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--esnet-size-spacing-xsmall, 0.5rem);
}

.ESInputDatePickerTimeWheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: var(--esnet-size-spacing-large, 2rem);
}

.ESInputDatePickerTimeWheelLabel {
  min-height: var(--esnet-size-spacing-large, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ESInputDatePickerTimeWheelButtons {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 32px;
  place-items: center;
  width: var(--esnet-size-spacing-large, 2rem);
  max-height: calc(var(--esnet-size-spacing-large, 2rem) * 7);
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  --fade-from-color: var(--esnet-color-light-surface-2, #f2f2f2);

  :global(.dark) & {
    --fade-from-color: var(--esnet-color-dark-surface-2, #000000);
  }
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--fade-from-color) 20%,
    var(--fade-from-color) 80%,
    transparent 100%
  );
}

.ESInputDatePickerTimeWheelEmptySpace {
  width: 100%;
  grid-row: span 3;
  user-select: none;
  pointer-events: none;
}

.ESInputDatePickerTimeWheelButton {
  background: inherit;
  font: inherit;
  color: inherit;
  padding: 0;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large, 2rem);
}

/* Button style used in both date and time pickers, specifies mostly border and color behavior on different events */
.ESInputDatePickerBaseButton {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border-radius: var(--esnet-size-radius-medium, 0.5rem);
  border-width: var(--esnet-size-border-width-small, 0.125rem);
  border-style: solid;
  border-color: transparent;

  color: var(--esnet-color-light-copy, #3d3d3d);

  :global(.dark) & {
    color: var(--esnet-color-dark-copy, #ffffff);
  }

  &:hover:not(:disabled) {
    text-decoration: underline;
    background-color: var(--esnet-color-core-blue-300, #64d2ff);
    color: var(--esnet-color-light-copy, #3d3d3d);

    :global(.dark) & {
      background-color: var(--esnet-color-core-blue-400, #00b6f2);
      color: var(--esnet-color-dark-copy, #ffffff);
    }
  }

  &:focus:not(:disabled, .disabled) {
    text-decoration: underline;
    border-color: var(--esnet-color-core-blue-300, #64d2ff);
  }

  &:active:not(:disabled),
  &.selected {
    text-decoration: underline;
    background-color: var(--esnet-color-light-primary, #0088b5);
    color: var(--esnet-color-light-surface-2);
    border-color: transparent !important;

    :global(.dark) & {
      background-color: var(--esnet-color-core-blue-500, #00a0d6);
      color: var(--esnet-color-dark-copy, #ffffff);
    }
  }

  &:disabled {
    border-color: transparent;
    cursor: default;
    color: var(--esnet-color-core-white-600, #cccccc);

    :global(.dark) & {
      color: var(--esnet-color-core-white-900, #a8a8a8);
    }
  }
}
