.ESDropdown {
  position: relative;
  display: inline-block;
  height: fit-content;

  .anchor {
    position: relative;
    z-index: 3;
  }

  .content {
    position: absolute;
    overflow: auto;
    height: fit-content;
    padding: var(--esnet-size-spacing-xsmall, 4px);

    background: var(--esnet-color-light-surface-1);

    :global(.dark) & {
      background: var(--esnet-color-dark-surface-1);
    }

    box-shadow: var(--esnet-box-shadow-core-medium);

    transition-property: opacity;
    transition-duration: var(--esnet-time-duration-quick, 250ms);
  }

  .caret {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--esnet-color-light-surface-1);

    :global(.dark) & {
      background: var(--esnet-color-dark-surface-1);
    }

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  .hidden {
    display: none;
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
  }
}

/* 

.hoverGap {
  --caret-size: 20px;
  position: absolute;
  width: 100%;
  height: calc(100% + var(--caret-size));
  transform: translateY(calc(var(--caret-size) / -2));
}

.hidden {
  display: none;
  pointer-events: none;
} */
