.ESDropdown {
  position: relative;
  display: inline-block;
  height: fit-content;
  /* Layout */

  /* Styling */

  /* Typography */

  /* Transitions */

  /* Pseudo-elements */

  /* Pseudo-classes */

  /* Variants */

  /* Modifiers */
}

.content {
  position: absolute;
  /* display: contents; */
  width: fit-content;
  min-width: 100%;
  /* top: 100%; */
  overflow: auto;
  max-height: 242px;
  height: fit-content;

  background: var(--esnet-color-light-surface-1);
  :global(.dark) & {
    background: var(--esnet-color-dark-surface-1);
  }

  box-shadow: var(--esnet-box-shadow-core-medium);

  &.hidden {
    display: none;
  }
}

.carat {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--esnet-color-light-surface-1);
  :global(.dark) & {
    background: var(--esnet-color-dark-surface-1);
  }
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  box-shadow: var(--esnet-box-shadow-core-medium);
}

.hoverGap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  transform: scale(150%);
  box-shadow: var(--esnet-box-shadow-core-medium);
}
