.PktsAccordion {
  /* Layout */
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /* Styling */
  border-radius: var(--esnet-size-radius-xxlarge);
  box-shadow: var(--esnet-box-shadow-core-medium);

  &.inline {
    border-radius: 0;
    border-bottom: 1px solid var(--esnet-color-light-copy-alt, #6e6e70);
    box-shadow: none;

    :global(.dark) & {
      border-bottom: 1px solid var(--esnet-color-dark-copy-alt, #6e6e70);
    }

    .header {
      background-color: transparent;
      color: inherit;
      padding: 0;
    }

    .openButton svg,
    .actionIconButtons svg {
      color: var(--esnet-color-light-secondary);
      :global(.dark) & {
        color: var(--esnet-color-dark-secondary);
      }
    }

    .content {
      background-color: transparent;
      padding: 0 var(--esnet-size-spacing-xsmall, 8px);
      &:last-child {
        padding-bottom: var(--esnet-size-spacing-xsmall, 8px);
      }
    }

    .footer {
      background-color: transparent;
      padding: 0;
      color: inherit;
    }
  }

  .header {
    height: var(--esnet-size-spacing-xlarge, 40px);
    display: flex;
    justify-content: space-between;
    gap: var(--esnet-size-spacing-small, 12px);
    padding: 0 var(--esnet-size-spacing-xsmall, 8px);
    background-color: var(--esnet-color-light-primary);
    color: var(--esnet-color-core-white-100);
    font: var(--esnet-typography-header-5-sans-font);

    :global(.dark) & {
      background-color: var(--esnet-color-dark-primary);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .openButton {
    flex: 1;
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--esnet-size-spacing-xsmall);
    color: inherit;
    font: inherit;
    overflow: hidden;
    cursor: pointer;

    &:focus {
      text-decoration: underline;
    }

    svg {
      flex-shrink: 0;
    }
  }

  .actionIconButtons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: var(--esnet-size-spacing-xsmall);
  }

  .content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: var(--esnet-size-spacing-xsmall, 8px);
    font: var(--esnet-typography-copy-1-sans-font);

    background-color: color-mix(
      in srgb,
      var(--esnet-color-core-white-500) 60%,
      transparent
    );

    :global(.dark) & {
      background-color: color-mix(
        in srgb,
        var(--esnet-color-core-slate-1000) 60%,
        transparent
      );
    }
  }

  .footer {
    height: var(--esnet-size-spacing-xlarge, 40px);
    padding: 0 var(--esnet-size-spacing-xsmall, 8px);
    display: flex;
    align-items: center;
    font: var(--esnet-typography-copy-1-sans-font);
    background-color: var(--esnet-color-core-slate-600);
    color: var(--esnet-color-core-white-100);

    :global(.dark) & {
      background-color: var(--esnet-color-core-slate-700);
      color: var(--esnet-color-core-white-100);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
