.ESFormSection {
  width: stretch;
  --section-gap: var(--esnet-size-spacing-xxsmall, 4px);

  padding: var(--esnet-size-spacing-medium);
  border-radius: var(--esnet-size-spacing-xsmall);

  margin-bottom: var(--esnet-size-spacing-medium);
  background: var(--esnet-color-light-surface-1, #e3e3e3);

  :global(.dark) & {
    background: var(--esnet-color-dark-surface-1, #3d3d3d);
  }

  .leftCol {
    margin-bottom: var(--esnet-size-spacing-medium);
    > p {
      color: var(--esnet-color-copy-alt);
    }
  }

  .rightCol {
    margin-bottom: var(--esnet-size-spacing-medium);
  }
}

:global(.sheet) & {
  .formSection {
    display: block;
  }
}
