.esListTreeLeafView {
  width: 100%;

  .content {
    display: block;
  }

  > .contentWrapper {
    display: flex;
    padding: 2px 0;
    gap: var(--row-gap-size);
    border-radius: var(--esnet-size-radius-large, 6px);
  }

  .icon {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;

    &.selectedIcon {
      color: var(--esnet-color-core-blue-600);
      :global {
        animation: scaleBounceIn 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

      :global(.dark) & {
        color: var(--esnet-color-core-white-100);
      }
    }

    &.leafIcon {
      color: var(--esnet-color-core-blue-600);

      :global(.dark) & {
        color: var(--esnet-color-core-white-700);
      }
    }
  }

  .selectedIcon :global {
    animation: scaleBounceIn 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  /* States */

  &.isSublist {
    > .icon {
      display: none;
    }

    > .contentWrapper > .content {
      width: 100%;
    }
  }

  &:not(.isSublist) {
    > .contentWrapper {
      &:hover {
        background-color: var(--esnet-color-core-white-400, #e3e3e3);

        :global(.dark) & {
          background-color: var(--esnet-color-core-blue-900, #004573);
        }
      }
    }
  }
}
