.ESInputDatePickerPrompt {
  /* Layout */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  gap: var(--esnet-size-spacing-xsmall);

  /* Styling */
  width: 240px;
  height: 264px;
  background-color: var(--esnet-color-light-surface-2);
  color: var(--esnet-color-light-copy);
  :global(.dark) & {
    background-color: var(--esnet-color-dark-surface-2);
    color: var(--esnet-color-dark-copy);
  }
  box-shadow: var(--esnet-box-shadow-core-medium);

  /* Typography */
  font: var(
    --esnet-typography-copy-1-sans-font,
    400 16px/120% var(--esnet-font-family-body-sans)
  );
}

.ESInputDatePickerDate {
  /* Layout */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--esnet-size-spacing-xsmall);
}

.ESInputDatePickerDateNav {
  display: flex;
  gap: var(--esnet-size-spacing-xsmall);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.ESInputDatePickerNavButton {
  width: 24px;
  height: 24px;
}

.ESInputDatePickerDateNavInfo {
  display: flex;
  gap: var(--esnet-size-spacing-medium);
  justify-content: center;
  align-items: center;

  & > button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    gap: var(--esnet-size-spacing-xxxsmall);
    justify-content: center;
    align-items: center;
  }

  & > button > svg {
    cursor: pointer;
    width: var(--esnet-size-spacing-medium);
    height: var(--esnet-size-spacing-medium);
  }
}

.ESInputDatePickerDateDayGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.ESInputDatePickerDateDayCellHeader {
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ESInputDatePickerDateDayCellButton {
  all: unset;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
  &:disabled {
    cursor: default;
    color: var(--esnet-color-core-white-600);
    :global(.dark) & {
      color: var(--esnet-color-core-white-900);
    }
  }
}

.ESInputDatePickerDateMonthGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--esnet-size-spacing-xsmall);
  place-items: center;
}

.ESInputDatePickerDateMonthCellButton {
  all: unset;
  /* aspect-ratio: 1 / 1; */
  /* width: var(--esnet-size-spacing-large); */
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}

.ESInputDatePickerDateYearGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--esnet-size-spacing-xxsmall);
  place-items: center;
}

.ESInputDatePickerDateYearCellButton {
  all: unset;
  /* aspect-ratio: 1 / 1; */
  /* width: var(--esnet-size-spacing-large); */
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}
