.ESInputDatePickerPrompt {
  /* Layout */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;

  /* Styling */
  width: fit-content;
  height: fit-content;
  background-color: var(--esnet-color-light-surface-2);
  color: var(--esnet-color-light-copy);

  :global(.dark) & {
    background-color: var(--esnet-color-dark-surface-2);
    color: var(--esnet-color-dark-copy);
  }

  box-shadow: var(--esnet-box-shadow-core-medium);

  /* Typography */
  font: var(--esnet-typography-copy-1-sans-font,
    400 16px/120% var(--esnet-font-family-body-sans));

  &.branded {
    border-radius: var(--esnet-size-radius-medium, 0.25rem);
  }
}

/* Date Picker related styles */
.ESInputDatePickerDate {
  /* Layout */
  display: flex;
  flex-direction: column;
  min-width: 240px;
  padding: var(--esnet-size-spacing-xsmall);
}

.ESInputDatePickerDateNav {
  display: flex;
  gap: var(--esnet-size-spacing-xsmall);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: var(--esnet-size-spacing-large, 32px);
  width: 100%;
}

.ESInputDatePickerNavButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  outline: none;

  /* &:hover {
    cursor: pointer;
  }
  &:hover,
  &:focus {
    border: var(--esnet-size-border-width-small, 0.125rem) solid
      var(--esnet-color-light-primary, #0088b5);
    border-radius: var(--esnet-size-radius-medium, 0.5rem);
    .branded & {
      border-radius: var(--esnet-size-radius-circle, 999px);
    }
  } */
}

.ESInputDatePickerDateNavInfo {
  display: flex;
  gap: var(--esnet-size-spacing-medium);
  justify-content: center;
  align-items: center;

  &>button {
    outline: none;
    background: inherit;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    gap: var(--esnet-size-spacing-xxxsmall);
    justify-content: center;
    align-items: center;
  }

  &>button>svg {
    cursor: pointer;
    width: var(--esnet-size-spacing-medium);
    height: var(--esnet-size-spacing-medium);
  }
}

.ESInputDatePickerDateDayGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.ESInputDatePickerDateDayCellHeader {
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ESInputDatePickerDateDayCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--esnet-size-radius-medium, 0.5rem);

  .branded & {
    border-radius: var(--esnet-size-radius-circle, 999px);
  }

  /* Styling */
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    text-decoration: underline;
    border: var(--esnet-size-border-width-small, 0.125rem) solid var(--esnet-color-light-primary, #0088b5);

    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }

  &:disabled {
    cursor: default;
    color: var(--esnet-color-core-white-600, #cccccc);

    :global(.dark) & {
      color: var(--esnet-color-core-white-900, #a8a8a8);
    }
  }

  &.selected {
    text-decoration: underline;
    background-color: var(--esnet-color-light-primary, #0088b5);
    color: var(--esnet-color-light-surface-2, #f2f2f2);

    :global(.dark) & {
      background-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }
}

.ESInputDatePickerDateMonthGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--esnet-size-spacing-xsmall);
  place-items: center;
}

.ESInputDatePickerDateMonthCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}

.ESInputDatePickerDateYearGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--esnet-size-spacing-xxsmall);
  place-items: center;
}

.ESInputDatePickerDateYearCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}

/* Time Picker related styles */
.ESInputDatePickerTime {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--esnet-size-spacing-xsmall);
}

.ESInputDatePickerTimeWheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: var(--esnet-size-spacing-large);
}

.ESInputDatePickerTimeWheelLabel {
  min-height: var(--esnet-size-spacing-large, 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ESInputDatePickerTimeWheelButtons {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 32px;
  place-items: center;
  width: var(--esnet-size-spacing-large);
  max-height: calc(var(--esnet-size-spacing-large) * 7);
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ESInputDatePickerTimeWheelEmptySpace {
  width: 100%;
  grid-row: span 3;
  user-select: none;
  pointer-events: none;
}

.ESInputDatePickerTimeWheelButton {
  background: inherit;
  font: inherit;
  color: inherit;
  padding: 0;
  border-style: solid;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);


  .branded & {
    border-radius: var(--esnet-size-radius-circle, 999px);
  }
}

/* Button styles used in both date and time pickers */
.ESInputDatePickerButtonInteractions {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border-color: transparent !important;
  border-radius: var(--esnet-size-radius-medium, 0.5rem);

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    text-decoration: underline;
    border: var(--esnet-size-border-width-small, 0.125rem) solid var(--esnet-color-light-primary, #0088b5) !important;

    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2) !important;
    }
  }

  /* active state */

  &:disabled {
    border: transparent;
    cursor: default;
    color: var(--esnet-color-core-white-600, #cccccc);

    :global(.dark) & {
      color: var(--esnet-color-core-white-900, #a8a8a8);
    }
  }
}

.ESInputDatePickerButtonSelected {
  text-decoration: underline;
  background-color: var(--esnet-color-light-primary, #0088b5);
  color: var(--esnet-color-light-surface-2, #f2f2f2);

  :global(.dark) & {
    background-color: var(--esnet-color-dark-secondary, #00b6f2);
  }
}