.ESInputDatePickerPrompt {
  /* Layout */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  gap: var(--esnet-size-spacing-xsmall);

  /* Styling */
  width: 240px;
  height: 264px;
  background-color: var(--esnet-color-light-surface-2);
  color: var(--esnet-color-light-copy);
  :global(.dark) & {
    background-color: var(--esnet-color-dark-surface-2);
    color: var(--esnet-color-dark-copy);
  }
  box-shadow: var(--esnet-box-shadow-core-medium);

  /* Typography */
  font: var(
    --esnet-typography-copy-1-sans-font,
    400 16px/120% var(--esnet-font-family-body-sans)
  );

  &.branded {
    border-radius: var(--esnet-size-radius-medium, 0.25rem);
  }
}

.ESInputDatePickerDate {
  /* Layout */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--esnet-size-spacing-xsmall);
}

.ESInputDatePickerDateNav {
  display: flex;
  gap: var(--esnet-size-spacing-xsmall);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.ESInputDatePickerNavButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  outline: none;

  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:focus {
    border: var(--esnet-size-border-width-small, 0.125rem) solid
      var(--esnet-color-light-primary, #0088b5);
    border-radius: var(--esnet-size-radius-medium, 0.5rem);
    .branded & {
      border-radius: var(--esnet-size-radius-circle, 999px);
    }
  }
}

.ESInputDatePickerDateNavInfo {
  display: flex;
  gap: var(--esnet-size-spacing-medium);
  justify-content: center;
  align-items: center;

  & > button {
    outline: none;
    background: inherit;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    gap: var(--esnet-size-spacing-xxxsmall);
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: none;

    &:focus {
      border-color: var(--esnet-color-light-primary, #0088b5);
      border-radius: var(--esnet-size-radius-medium, 0.5rem);
      .branded & {
        border-radius: var(--esnet-size-radius-circle, 999px);
      }
    }
  }

  & > button > svg {
    cursor: pointer;
    width: var(--esnet-size-spacing-medium);
    height: var(--esnet-size-spacing-medium);
  }
}

.ESInputDatePickerDateDayGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}

.ESInputDatePickerDateDayCellHeader {
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ESInputDatePickerButtonInteractions {
  outline: none;
  box-sizing: border-box;
  border-radius: var(--esnet-size-radius-medium, 0.5rem);
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    text-decoration: underline;
    border: var(--esnet-size-border-width-small, 0.125rem) solid
      var(--esnet-color-light-primary, #0088b5);
    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }

  &:disabled {
    border: none;
    cursor: default;
    color: var(--esnet-color-core-white-600, #cccccc);
    :global(.dark) & {
      color: var(--esnet-color-core-white-900, #a8a8a8);
    }
  }
}

.selected {
  text-decoration: underline;
  background-color: var(--esnet-color-light-primary, #0088b5);
  color: var(--esnet-color-light-surface-2, #f2f2f2);
  :global(.dark) & {
    background-color: var(--esnet-color-dark-secondary, #00b6f2);
  }
}

.ESInputDatePickerDateDayCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  aspect-ratio: 1 / 1;
  width: var(--esnet-size-spacing-large);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--esnet-size-radius-medium, 0.5rem);
  .branded & {
    border-radius: var(--esnet-size-radius-circle, 999px);
  }

  /* Styling */
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    text-decoration: underline;
    border: var(--esnet-size-border-width-small, 0.125rem) solid
      var(--esnet-color-light-primary, #0088b5);
    :global(.dark) & {
      border-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }

  &:disabled {
    cursor: default;
    color: var(--esnet-color-core-white-600, #cccccc);
    :global(.dark) & {
      color: var(--esnet-color-core-white-900, #a8a8a8);
    }
  }

  &.selected {
    text-decoration: underline;
    background-color: var(--esnet-color-light-primary, #0088b5);
    color: var(--esnet-color-light-surface-2, #f2f2f2);
    :global(.dark) & {
      background-color: var(--esnet-color-dark-secondary, #00b6f2);
    }
  }
}

.ESInputDatePickerDateMonthGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--esnet-size-spacing-xsmall);
  place-items: center;
}

.ESInputDatePickerDateMonthCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}

.ESInputDatePickerDateYearGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--esnet-size-spacing-xxsmall);
  place-items: center;
}

.ESInputDatePickerDateYearCellButton {
  background: inherit;
  font: inherit;
  color: inherit;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styling */
  /* apply hover, active, focus, select, disabled, variant styles */
}
