/* body,
.packets-ui {
  background-color: var(--pkts-color-light-background, #cccccc);

  .dark & {
    background-color: var(--pkts-color-dark-background, #19191a);
  }
} */

/* body, */
.packets {
  /* dark/light overide classes */
  background-color: var(--pkts-color-light-background, #cccccc);

  /* .dark & {
    background-color: var(--pkts-color-dark-background, #19191a);
  } */

  &.dark,
  .dark {
    background-color: var(--pkts-color-dark-background, #19191a);
  }

  /* Nested Surface Layers using just surface class */
  .surface {
    background-color: var(--pkts-color-light-surface-1, #e3e3e3);

    .surface {
      background-color: var(--pkts-color-light-surface-2, #f2f2f2);
    }
  }

  /* Bespoke instances of surface layers */
  .surface1 {
    background-color: var(--pkts-color-light-surface-1, #e3e3e3);
  }

  .surface2 {
    background-color: var(--pkts-color-light-surface-2, #f2f2f2);
  }

  /* Dark mode styles - when .dark is on .packets element or an ancestor */
  &.dark,
  .dark & {
    .surface {
      background-color: var(--pkts-color-dark-surface-1, #3d3d3d);

      .surface {
        background-color: var(--pkts-color-dark-surface-2, #4d4d4f);
      }
    }

    .surface1 {
      background-color: var(--pkts-color-dark-surface-1, #3d3d3d);
    }

    .surface2 {
      background-color: var(--pkts-color-dark-surface-2, #4d4d4f);
    }
  }
}
