.datumList {
    --column-count: 3;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: var(--pkts-size-spacing-medium);


    > :last-child {
        flex: 1;
    }
}