.ESAvatar {
  --shadow: var(
    --esnet-box-shadow-core-medium,
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 4px 5px -1px rgba(0, 0, 0, 0.1)
  );
  --border: var(--esnet-size-border-width-small, 2px) solid
    var(--esnet-color-core-white-100, #fff);

  /* Size Variants; default medium (styles seen above) */
  --size: 36px;
  --label-font: var(
    --esnet-typography-header-5-sans-font,
    600 20px/140% var(--esnet-font-family-header-sans)
  );
  /* There isn't a token for border radius of 14px (or even 12px/0.75rem) that matches the Figma specification*/
  --border-radius: 14px;

  &.small {
    --size: 24px;
    --label-font: var(
      --esnet-typography-label-1-sans-font,
      400 12px/120% var(--esnet-font-family-body-sans)
    );
    --border-radius: var(--esnet-size-radius-xlarge, 8px);
  }

  &.large {
    --size: 48px;
    --label-font: var(
      --esnet-typography-header-4-sans-font,
      500 24px/140% var(--esnet-font-family-header-sans)
    );
    --border-radius: var(--esnet-size-radius-xxlarge, 14px);
  }

  /* Color Variants */
  &.grape {
    background-color: var(--esnet-color-core-purple-500, #a350ff);
  }
  &.lime {
    background-color: var(--esnet-color-core-green-500, #11ad2b);
  }
  &.berry {
    background-color: var(--esnet-color-core-berry-500, #ff2377);
  }
  &.orange {
    background-color: var(--esnet-color-core-orange-500, #ff8000);
  }

  .image {
    /* If we don't set the width and height to be a little over, a bit of the background color shows on the edges, likely a CSS rounding error */
    max-width: 110%;
    max-height: 110%;
  }

  &.brokenImage {
    .image {
      display: none;
    }
  }

  display: block;
  width: var(--size);
  aspect-ratio: 1/1;

  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size);
    line-height: var(--size);

    font: var(--label-font);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--esnet-color-core-white-100, #fff);
  }
}
