.ESListTreeView {
  --icon-size: var(--esnet-size-spacing-medium, 1rem);
  --row-gap-size: var(--esnet-size-spacing-xxsmall, 4px);

  margin: 0;
  width: 100%;

  .sectionRow {
    display: flex;
    padding: 2px;
    gap: var(--row-gap-size);
    border-radius: var(--esnet-size-radius-large, 6px);
    transition: background var(--esnet-time-duration-short, 100ms) ease-in-out;

    &:has(+ .list) {
      border-radius: var(--esnet-size-radius-large, 6px)
        var(--esnet-size-radius-large, 6px) 0 0;
    }

    &:hover {
      background-color: var(--esnet-color-core-white-400, #e3e3e3);

      :global(.dark) & {
        background-color: var(--esnet-color-core-blue-900, #004573);
      }

      + .list {
        border-radius: 0 0 var(--esnet-size-radius-large, 6px)
          var(--esnet-size-radius-large, 6px);
        background-color: var(--esnet-color-core-white-400, #e3e3e3);

        :global(.dark) & {
          background-color: var(--esnet-color-core-blue-900, #004573);
        }
      }
    }
  }

  .icon {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1/1;
    
    > svg {
      display: block;
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
      aspect-ratio: 1/1;
    }

    &.selectedIcon {
      color: var(--esnet-color-core-blue-600);
      :global {
        animation: scaleBounceIn var(--esnet-time-duration-quick, 250ms) cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

      :global(.dark) & {
        color: var(--esnet-color-core-white-100);
      }
    }

    &.groupIcon {
      color: var(--esnet-color-core-blue-600);
      
      :global(.dark) & {
        color: var(--esnet-color-core-white-700);
      }
    }
  }

  .accordionIndicator {
    transition: transform var(--esnet-time-duration-short) ease-in-out;

    color: var(--esnet-color-core-black-100);
    
    &:hover {
      cursor: pointer;
    }

    &:not(.isOpen) {
      transform: rotate(-90deg);
    }

    :global(.dark) & {
      color: var(--esnet-color-core-slate-400);
    }
  }

  .list {
    list-style: none;
    padding: 0 var(--esnet-size-spacing-medium, 16px) 0;
    margin: 0;
    transition: background var(--esnet-time-duration-short, 100ms) ease-in-out;

    > * {
      padding: 0 var(--row-gap-size);

      /* Add global scope for accessing animation name globally */
      &:global {
        animation: ESFadeInUp var(--esnet-time-duration-medium) ease-in-out;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }
  }
}
