.borderDocBlock {
  --border-border: 3px;
  display: block;
  padding: var(--pkts-size-spacing-xsmall);

  .previewblock {
    display: block;
    aspect-ratio: 1/1;
    width: 32px;
    background-color: var(--pkts-color-core-white-500);
    border: var(--border-border) solid var(--pkts-color-light-primary);
  }
}

