.tableOfContents {
  margin: 0 var(--esnet-size-spacing-large) var(--esnet-size-spacing-medium);

  .title {
    font-family: "Signika";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: var(--typography-kerning);
    text-decoration: none;
  }

  .list {
    list-style: none;
    margin: var(--esnet-size-spacing-xsmall, 12px) 0 0;
    padding: 0px var(--esnet-size-spacing-medium, 16px);
    border-left: var(--esnet-size-border-width-medium) solid
      var(--esnet-color-core-white-1000, #9e9e9e);

    display: flex;
    flex-direction: column;
    gap: var(--esnet-size-spacing-xxsmall, 4px);
  }

  &.isSticky {
    position: sticky;
    top: var(--esnet-size-spacing-xxlarge, 72px);
  }
}
